article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body{width:100%; height:100%}
header{
    margin-left: 10em;
    background-color: #E7511E;
    width: 74em;
    height: 9em;
    margin-top: -8px;
}

h1.pele{
    margin-left: 118px;
    width: 15em;
    float: left;
    padding-top: 10px;
    color: white;
    font-weight:bold;
}

table.connexion{
   margin-left: 770px;
   width: 15em;
   padding-top: 1em;
}

table.connexion input:focus{
    background-color:burlywood;
}

table.connexion2{
    margin-left: 881px;
   width: 15em;
   padding-top: 1em;
   color: white;
   font-weight: bold;
}

#theme{
    clear: both;
    text-align: center;
    width: 74em;;
    height: 45px;
    margin-top: 9px;
    
}

#theme { border-collapse:collapse; }
#theme td {width:100px; height:45px;}

	
#theme td a{
    text-decoration: none;
    /*font-weight:bold;*/
	display:block;

	padding-top:15px;

	text-decoration:none;
	color: black;
	background: url(menu7/fond.jpg) 0 -45px;
	/*float:left;*/
	height:30px;
        width:100px;
	
}

#theme a:hover, #theme a:active, #theme td:focus{
	/*background: url(menu7/fond.jpg) 0 -90px;*/
background: url(menu7/fond.jpg)no-repeat;
}

#theme td a#active{background: url(menu7/fond.jpg)no-repeat; }


div.long{margin-top: -10px;}
nav.liens{
    background-color: #97BE0D;
    width: 11em;
    margin-left: -1em;
    float: left;
    height: 30em;
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
}
nav.liens a{
    text-decoration: none;
}
img.vatican{
   float: left;
   height: 144px;
   margin-top: -144px;
   width: 161px;
}
h2.inscription{
    color: burlywood;
    margin-left: 25em;
    margin-top: -3em;
    position: absolute;
}

div.inscription{
    height: 14em;
    margin-left: 30em;
    margin-top: 6em;
    width: 31em;
    
}
#inscription{
    padding: 1ex;
    color: green;
    margin-left: 40em;
    margin-top: -30em;
    
}
#footer{
     color: #CCCCCC;
    background-color: #6875A0;
      height: 2em;
    margin-top: 11em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    width: 85em;
    position: absolute;
    margin-left: -1em;
    font-weight:bold;
    
}


body{background: url(Autigny1.jpg)no-repeat center fixed; 
	  margin:0;
  padding:0;

 background-size: cover;

	  }

fieldset {border: 3px groove burlywood;
	background: url(images/fond_jaune.png);
	width: 31em;
}

legend {border: 3px groove burlywood;
	background-color:burlywood;
}

section h3{color: burlywood;}

em{margin-left: 11em;}

div.perso{
   border: 3px groove burlywood;
    font-weight: bold;
    background: url(images/fond_jaune.png);
}
div.perso a{
    text-decoration: none;
}
div.perso td{
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 18pt;
}
table.perso td{
    padding-top: 1em;
    padding-bottom: 4em;
    font-size: 14pt;
    padding-left: 20px;
}

div.erreur {
background-image: url("images/fond_jaune.png");
    border: 3px groove burlywood;
    /*margin-left: 30em;
    margin-right: 30em;*/
    margin-top: 2em;
    text-align: center;
     width: 22em;
}



#modifier{
    padding: 1ex;
    color: green;

}


div.infos {
background-image: url("images/fond_jaune.png");
    border: 3px groove burlywood;
    margin-left: -12em;
   /* margin-right: 30em;*/
    margin-top: 2em;
    text-align: center;
     width: 60em;
}

